<h1>Admin::Dashboard</h1>
<div class="panel panel-default products">

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to 'Products',  [:admin, :products] %></th>
      <th><%= link_to 'Categories',  [:admin, :categories] %></th>
    </tr>
    <tr>
      <th><%=@products_count%></th>
      <th><%=@categories_count%></th>
    </tr>

  </thead>
</table>

</div>